* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-size: 20px;
}

header {
  height: 3.2em;
  padding: 0em 4em 0.3em 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: rgb(182, 102, 117);
}

#auth {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#username {
  font-size: 25px;
}

#logout-button {
  text-align: center;
  text-decoration: none;
  color: white;
}

main {
  width: 500px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#target-setter {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#target-box {
  padding-left: 5px;
}

#calorie-result {
  width: 400px;
}

#calorie-result > div {
  display: flex;
  justify-content: space-between;
}

#exercises {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#exercise-measurements {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.exercise-measurement {
  padding-left: 5px;
}

.exercise {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.button {
  font-size: 18px;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#exercise-history {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#history {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exercise-details {
  display: flex;
  gap: 30px;
}